@model ShopSMS.Web.ViewModelClient.CCategoryViewModel

@{
    ViewBag.Title = "Điện thoại, smartphone chính hãng";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var index = 0;
    var indexStop = Model.ListCategoryProduct1.Count() / 2;
}

<style>
    #hienthiSP:after, #hienthiGia:after, #hienthiOrderBy:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 6px solid #288ad6;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1px;
    }

    .choose-filter {
        border-radius: 5px;
        background-color: blue;
        padding: 5px;
        color: #fff;
        margin: 2px;
        text-decoration: none !important;
    }

        .choose-filter a:hover,
        .choose-filter a:focus,
        .choose-filter-2 a:hover,
        .choose-filter-2 a:focus {
            color: #fff !important;
            text-decoration: none !important;
        }

    .choose-filter-2 {
        border-radius: 5px;
        background-color: #c10017;
        padding: 5px;
        color: #fff;
        margin: 2px;
        text-decoration: none !important;
    }

    ul.class-search {
        margin-top: -20px;
        display: block;
        height: 40px;
        background: #fff;
        border-right: 1px solid #f5f5f5;
        width: 100%;
    }

    .class-search li {
        display: inline-block;
        height: 40px;
        width: auto;
        vertical-align: top;
        font-size: 12px;
        position: relative;
        white-space: nowrap;
    }

        .class-search li h1 {
            display: inline-block;
            vertical-align: top;
            line-height: 40px;
            padding-left: 10px;
            font-size: 13px;
            font-weight: bold;
            color: #666;
            margin-top: -0px;
        }

    .tb-show-popup {
        display: inline-block;
        overflow: hidden;
        font-size: 12px;
        color: #288ad6;
        padding-left: 10px;
        cursor: pointer;
        line-height: 40px;
    }

    .class-popup-category {
        display: none;
        overflow: visible;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        box-shadow: 0 10px 10px 0 rgba(0,0,0,.1);
        padding: 5px 10px;
        position: absolute;
        right: -45%;
        top: 40px;
        z-index: 11;
        width: 300px;
    }

    .for-label {
        display: block;
        padding: 4px 0 2px;
        cursor: pointer;
    }

    .class-prevent {
        pointer-events: none;
        color: #333;
        display: inline;
        padding: 0;
        margin: 0;
        line-height: normal;
    }

    .tb-show-a {
        color: #288ad6;
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
        line-height: 40px;
    }

    aside.content-popup {
        float: left;
        overflow: hidden;
        width: 50%;
        padding: 10px 0;
    }

    .for-label-category {
        display: block;
        padding: 4px 0 2px;
        cursor: pointer;
    }

    .tb-popup-price {
        display: none;
        overflow: visible;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        box-shadow: 0 10px 10px 0 rgba(0,0,0,.1);
        padding: 5px 10px;
        position: absolute;
        right: -18%;
        top: 40px;
        z-index: 11;
        width: 140px;
    }

    .content-popup-price {
        float: left;
        overflow: hidden;
        padding: 10px 0;
        width:95%
    }

    .class-orderby {
        display: inline-block;
        overflow: hidden;
        font-size: 12px;
        color: #288ad6;
        cursor: pointer;
        line-height: 40px;
        margin-left: 10px;
    }

    .class-popup-orderby {
        display: none;
        overflow: visible;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        box-shadow: 0 10px 10px 0 rgba(0,0,0,.1);
        padding: 5px 10px;
        position: absolute;
        right: -100%;
        top: 40px;
        z-index: 11;
        width: 140px;
    }

    .for-label:hover, .for-label:focus,
    .for-label-category:hover, .for-label-category:focus {
        background-color:#4fbfa8;
        border-radius:3px;
        padding-left:5px;
        width:95%;
    }
</style>

<div id="content">
    <div class="container">
        <div class="col-md-12 col-xs-12">
            <ul class="class-search">
                <li>
                    <h1>Điện thoại: </h1>
                    @if (Model.ObjectPCFirst != null)
                    {
                        <a href="#" data-id="@(Model.ObjectPCFirst.ProductCategoryID)" class="tb-show-a">@Model.ObjectPCFirst.ProductCategoryName</a>
                    }
                    @if (Model.ObjectPCSecond != null)
                    {
                        <a href="#" data-id="@(Model.ObjectPCSecond.ProductCategoryID)" class="tb-show-a">@Model.ObjectPCSecond.ProductCategoryName</a>
                    }
                    @if (Model.ObjectPCThird != null)
                    {
                        <a href="#" data-id="@(Model.ObjectPCThird.ProductCategoryID)" class="tb-show-a">@Model.ObjectPCThird.ProductCategoryName</a>
                    }
                    
                    @if (Model.ListCategoryProduct1.Count() > 0)
                    {
                        <span class="tb-show-popup" id="hienthiSP" onclick="showOrHide()">Hãng khác</span>
                    }
                  
                    <div class="class-popup-category" id="popupHang">
                        <div style="border-bottom:1px solid red">
                            <label data-id="80" class="for-label">
                                <input onclick="viewAllPC()" type="checkbox" name="hang-all-0" id="checkAllCategory" value="0" />
                                <a href="/dtdd-apple-iphone" class="class-prevent">
                                    Tất cả hãng
                                </a>
                            </label>
                        </div>

                        <aside class="content-popup">
                            @foreach (var item in Model.ListCategoryProduct1)
                            {
                                if (index <= indexStop)
                                {
                                    index++;
                                    <label class="for-label-category">
                                        <input type="checkbox" name="@("hang-" + item.ProductCategoryID)"
                                               value="@(item.ProductCategoryID)" default="@(item.ProductCategoryName)" />
                                        <a href="/dtdd-apple-iphone" class="class-prevent">@(item.ProductCategoryName)</a>
                                    </label>
                                }
                                else
                                {
                                    break;
                                }
                            }
                        </aside>
                        <aside class="content-popup">
                            @foreach (var item in Model.ListCategoryProduct1)
                            {
                                if (index == 0)
                                {
                                    <label class="for-label-category">
                                        <input type="checkbox" name="@("hang-" + item.ProductCategoryID)"
                                               value="@(item.ProductCategoryID)" default="@(item.ProductCategoryName)" />
                                        <a href="/dtdd-apple-iphone" class="class-prevent">@(item.ProductCategoryName)</a>
                                    </label>
                                }
                                else
                                {
                                    index--;
                                }
                            }
                        </aside>
                        <div class="clearfix"></div>
                        <button type="button" class="form-control btn-primary" id="btnSeachCategory">Tìm kiếm</button>
                    </div>
                </li>
                <li>
                    <a class="tb-show-a" href="#">Dưới 1 triệu</a>
                    <a class="tb-show-a" href="#">Từ 1 - 3 triệu</a>
                    <a class="tb-show-a" href="#">Từ 3 - 7 triệu</a>
                    <span class="tb-show-popup" id="hienthiGia" onclick="showOrHideGia()">Giá khác</span>
                    <div class="tb-popup-price" id="popupGia">
                        <div style="border-bottom:1px solid red">
                            <label data-id="80" class="for-label">
                                <input type="radio" name="price1" value="1" />
                                <a href="/dtdd-apple-iphone" class="class-prevent">
                                    Tất cả mức giá
                                </a>
                            </label>
                        </div>
                        <aside class="content-popup-price" id="formPrice">
                            <label data-id="80" class="for-label-category">
                                <input type="radio" name="price1" value="2" />
                                <a href="/dtdd-apple-iphone" class="class-prevent">
                                    Dưới 1 triệu
                                </a>
                            </label>
                            <label data-id="2" class="for-label-category">
                                <input type="radio" name="price1" value="3" />
                                <a href="/dtdd-samsung" class="class-prevent">
                                    Từ 1 - 3 triệu
                                </a>
                            </label>
                            <label data-id="1971" class="for-label-category">
                                <input type="radio" name="price1" value="4" />
                                <a href="/dtdd-oppo" class="class-prevent">

                                    Từ 3 - 7 triệu
                                </a>
                            </label>
                            <label data-id="3" class="for-label-category">
                                <input type="radio" name="price1" value="5" />
                                <a href="/dtdd-sony" class="class-prevent">
                                    Từ 7 - 10 triệu
                                </a>
                            </label>
                            <label data-id="1" class="for-label-category">
                                <input type="radio" name="price1" value="6" />
                                <a href="/dtdd-nokia" class="class-prevent">
                                    Từ 10 - 15 triệu
                                </a>
                            </label>
                            <label data-id="14" class="for-label-category">
                                <input type="radio" name="price1" value="7" />
                                <a href="/dtdd-htc" class="class-prevent">
                                    Trên 15 triệu
                                </a>
                            </label>
                        </aside>

                        <div class="clearfix"></div>
                        <button style="display:none" type="button" class="form-control btn-primary" id="searchByPrice">Tìm kiếm</button>
                    </div>
                </li>
                <li>
                    <span class="class-orderby" id="hienthiOrderBy" onclick="showOrHideOrderBy()">Sắp xếp</span>
                    <div id="popupOrderBy" class="class-popup-orderby">
                        <aside id="formPrice" class="content-popup-price">
                            <label data-id="80" class="for-label">
                                <a href="/dtdd-apple-iphone" class="class-prevent">
                                    Giá thấp đến cao
                                </a>
                            </label>
                            <label data-id="2" class="for-label">
                                <a href="/dtdd-samsung" class="class-prevent">
                                    Giá cao đến thấp
                                </a>
                            </label>
                            <label data-id="1971" class="for-label">
                                <a href="/dtdd-oppo" class="class-prevent">
                                    Theo tên sản phẩm
                                </a>
                            </label>
                        </aside>
                    </div>
                </li>
                <li>
                    <label data-id="113" style="display: block;padding: 7px 5px;cursor: pointer;color: #288ad6">
                        <input type="checkbox" />
                        <a href="/dtdd-lenovo" class="prevent" style="pointer-events: none;color: #288ad6;display: inline;padding: 0;margin: 0;line-height: normal;">
                            Sản phẩm mới
                        </a>
                    </label>
                </li>
            </ul>
        </div>

        <div class="col-md-12 choosedfilter" style="margin-bottom:10px">
            <a href="javascript:;" id="abc1" onclick="RemoveFilter(1)" class="choose-filter">
                Iphone
                <span style=""> X</span>
            </a>
            <a href="javascript:;" id="abc2" onclick="RemoveFilter(2)" class="choose-filter">
                Iphone2
                <span style=""> X</span>
            </a>
            <a href="javascript:;" id="abc3" onclick="RemoveFilter(3)" class="choose-filter">
                Iphone3
                <span style=""> X</span>
            </a>
            <a href="/dien-thoai" class="choose-filter-2">
                Xóa tất cả
                <span style=""> X</span>
            </a>
        </div>

        <div class="col-md-12">
            <div class="row products">
                <div class="col-md-4 col-sm-4">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back" style="background-color:#fff">
                                    <div class="col-md-12 col-xs-12" style="border-bottom:1px solid #7773738c">
                                        <h4 class="pull-left">IPhone 6S</h4>
                                        <h4 class="pull-right" style="color:orangered;font-weight:bold">12.000.000đ</h4>
                                    </div>
                                    <div class="col-md-12 col-xs-12" style="padding:10px">
                                        <span>Màn hình: 5.5", Full HD</span>
                                        <br />
                                        <span>HĐH: Android 7.0</span>
                                        <br />
                                        <span>CPU: Exynos, 8 nhân</span>
                                        <br />
                                        <span>GPU: Mali-G71 MP2</span>
                                        <br />
                                        <span>RAM: 3 GB, ROM: 32 GB</span>
                                        <br />
                                        <span>Camera: 13 MP, Selfie: 13 MP</span>
                                        <br />
                                        <span>PIN: 3600mAh</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text" style="padding:10px;padding-bottom:0px">
                            <span style="text-align:left;font-size:18px; font-weight:bold">Iphone 6S</span>
                            <strong style="color:orangered;" class="price pull-right">12.000.000đ </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back" style="background-color:#fff">
                                    <div class="col-md-12 col-xs-12" style="border-bottom:1px solid #7773738c">
                                        <h4 class="pull-left">IPhone 6S</h4>
                                        <h4 class="pull-right" style="color:orangered;font-weight:bold">12.000.000đ</h4>
                                    </div>
                                    <div class="col-md-12 col-xs-12" style="padding:10px">
                                        <span>Màn hình: 5.5", Full HD</span>
                                        <br />
                                        <span>HĐH: Android 7.0</span>
                                        <br />
                                        <span>CPU: Exynos, 8 nhân</span>
                                        <br />
                                        <span>GPU: Mali-G71 MP2</span>
                                        <br />
                                        <span>RAM: 3 GB, ROM: 32 GB</span>
                                        <br />
                                        <span>Camera: 13 MP, Selfie: 13 MP</span>
                                        <br />
                                        <span>PIN: 3600mAh</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text" style="padding:10px;padding-bottom:0px">
                            <span style="text-align:left;font-size:18px; font-weight:bold">Iphone 6S</span>
                            <strong style="color:orangered;" class="price pull-right">12.000.000đ </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back" style="background-color:#fff">
                                    <div class="col-md-12 col-xs-12" style="border-bottom:1px solid #7773738c">
                                        <h4 class="pull-left">IPhone 6S</h4>
                                        <h4 class="pull-right" style="color:orangered;font-weight:bold">12.000.000đ</h4>
                                    </div>
                                    <div class="col-md-12 col-xs-12" style="padding:10px">
                                        <span>Màn hình: 5.5", Full HD</span>
                                        <br />
                                        <span>HĐH: Android 7.0</span>
                                        <br />
                                        <span>CPU: Exynos, 8 nhân</span>
                                        <br />
                                        <span>GPU: Mali-G71 MP2</span>
                                        <br />
                                        <span>RAM: 3 GB, ROM: 32 GB</span>
                                        <br />
                                        <span>Camera: 13 MP, Selfie: 13 MP</span>
                                        <br />
                                        <span>PIN: 3600mAh</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text" style="padding:10px;padding-bottom:0px">
                            <span style="text-align:left;font-size:18px; font-weight:bold">Iphone 6S</span>
                            <strong style="color:orangered;" class="price pull-right">12.000.000đ </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back" style="background-color:#fff">
                                    <div class="col-md-12 col-xs-12" style="border-bottom:1px solid #7773738c">
                                        <h4 class="pull-left">IPhone 6S</h4>
                                        <h4 class="pull-right" style="color:orangered;font-weight:bold">12.000.000đ</h4>
                                    </div>
                                    <div class="col-md-12 col-xs-12" style="padding:10px">
                                        <span>Màn hình: 5.5", Full HD</span>
                                        <br />
                                        <span>HĐH: Android 7.0</span>
                                        <br />
                                        <span>CPU: Exynos, 8 nhân</span>
                                        <br />
                                        <span>GPU: Mali-G71 MP2</span>
                                        <br />
                                        <span>RAM: 3 GB, ROM: 32 GB</span>
                                        <br />
                                        <span>Camera: 13 MP, Selfie: 13 MP</span>
                                        <br />
                                        <span>PIN: 3600mAh</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text" style="padding:10px;padding-bottom:0px">
                            <span style="text-align:left;font-size:18px; font-weight:bold">Iphone 6S</span>
                            <strong style="color:orangered;" class="price pull-right">12.000.000đ </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back" style="background-color:#fff">
                                    <div class="col-md-12 col-xs-12" style="border-bottom:1px solid #7773738c">
                                        <h4 class="pull-left">IPhone 6S</h4>
                                        <h4 class="pull-right" style="color:orangered;font-weight:bold">12.000.000đ</h4>
                                    </div>
                                    <div class="col-md-12 col-xs-12" style="padding:10px">
                                        <span>Màn hình: 5.5", Full HD</span>
                                        <br />
                                        <span>HĐH: Android 7.0</span>
                                        <br />
                                        <span>CPU: Exynos, 8 nhân</span>
                                        <br />
                                        <span>GPU: Mali-G71 MP2</span>
                                        <br />
                                        <span>RAM: 3 GB, ROM: 32 GB</span>
                                        <br />
                                        <span>Camera: 13 MP, Selfie: 13 MP</span>
                                        <br />
                                        <span>PIN: 3600mAh</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text" style="padding:10px;padding-bottom:0px">
                            <span style="text-align:left;font-size:18px; font-weight:bold">Iphone 6S</span>
                            <strong style="color:orangered;" class="price pull-right">12.000.000đ </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back" style="background-color:#fff">
                                    <div class="col-md-12 col-xs-12" style="border-bottom:1px solid #7773738c">
                                        <h4 class="pull-left">IPhone 6S</h4>
                                        <h4 class="pull-right" style="color:orangered;font-weight:bold">12.000.000đ</h4>
                                    </div>
                                    <div class="col-md-12 col-xs-12" style="padding:10px">
                                        <span>Màn hình: 5.5", Full HD</span>
                                        <br />
                                        <span>HĐH: Android 7.0</span>
                                        <br />
                                        <span>CPU: Exynos, 8 nhân</span>
                                        <br />
                                        <span>GPU: Mali-G71 MP2</span>
                                        <br />
                                        <span>RAM: 3 GB, ROM: 32 GB</span>
                                        <br />
                                        <span>Camera: 13 MP, Selfie: 13 MP</span>
                                        <br />
                                        <span>PIN: 3600mAh</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text" style="padding:10px;padding-bottom:0px">
                            <span style="text-align:left;font-size:18px; font-weight:bold">Iphone 6S</span>
                            <strong style="color:orangered;" class="price pull-right">12.000.000đ </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back" style="background-color:#fff">
                                    <div class="col-md-12 col-xs-12" style="border-bottom:1px solid #7773738c">
                                        <h4 class="pull-left">IPhone 6S</h4>
                                        <h4 class="pull-right" style="color:orangered;font-weight:bold">12.000.000đ</h4>
                                    </div>
                                    <div class="col-md-12 col-xs-12" style="padding:10px">
                                        <span>Màn hình: 5.5", Full HD</span>
                                        <br />
                                        <span>HĐH: Android 7.0</span>
                                        <br />
                                        <span>CPU: Exynos, 8 nhân</span>
                                        <br />
                                        <span>GPU: Mali-G71 MP2</span>
                                        <br />
                                        <span>RAM: 3 GB, ROM: 32 GB</span>
                                        <br />
                                        <span>Camera: 13 MP, Selfie: 13 MP</span>
                                        <br />
                                        <span>PIN: 3600mAh</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="~/Assets/Client/img/product1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text" style="padding:10px;padding-bottom:0px">
                            <span style="text-align:left;font-size:18px; font-weight:bold">Iphone 6S</span>
                            <strong style="color:orangered;" class="price pull-right">12.000.000đ </strong>
                        </div>
                    </div>
                </div>
            </div>


            <div class="pages">

                <p class="loadMore">
                    <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>
                </p>

                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>


        </div>
        <!-- /.col-md-9 -->
    </div>

    <div style="display:none">
        <input id="selectSP" type="hidden" />
        <input id="selectPrice" type="hidden" />
        <input id="selectTxtPrice" type="hidden" />

    </div>
    <!-- /.container -->
</div>

<script>

    $(document).click(function (event) {
        if (($(event.target).closest("#hienthiSP").html() == null
            || $(event.target).closest("#hienthiSP").html() == "undefined")
            && ($(event.target).closest("#popupHang").html() == null
            || $(event.target).closest("#popupHang").html() == "undefined")) {
            $("#popupHang").css("display", "none");
        }

        if (($(event.target).closest("#hienthiGia").html() == null
            || $(event.target).closest("#hienthiGia").html() == "undefined")
            && ($(event.target).closest("#popupGia").html() == null
            || $(event.target).closest("#popupGia").html() == "undefined")) {
            $("#popupGia").css("display", "none");
        }

        if (($(event.target).closest("#hienthiOrderBy").html() == null
            || $(event.target).closest("#hienthiOrderBy").html() == "undefined")
            && ($(event.target).closest("#popupOrderBy").html() == null
            || $(event.target).closest("#popupOrderBy").html() == "undefined")) {
            $("#popupOrderBy").css("display", "none");
        }

        if ($('#popupGia').find('input[name="price1"]').is(':checked')) {
            $("#searchByPrice").css("display", "inline-block");
        }
    });

    function viewAllPC() {

    }

    $('#popupHang').find('input[id="checkAllCategory"]').click(function () {
        if ( $('#checkAllCategory').is(':checked') ) {
            $('#popupHang').find('input[name^="hang-"]').each(function () {
                if ($(this).is(':checked')) {
                    $(this).removeAttr('checked');
                }
            });
        }  
    });

    $("#searchByPrice").click(function () {
        $('#popupGia').find('input[name="price1"]').each(function () {
            if ($(this).is(':checked')) {
                var valCheck = $(this).val();
                if (valCheck != 1 && valCheck > 1) {
                    var txt = '';
                    if (valCheck == 2) {
                        txt = 'Dưới 1 triệu';
                    }
                    else if (valCheck == 3) {
                        txt = 'Từ 1 - 3 triệu';
                    }
                    else if (valCheck == 4) {
                        txt = 'Từ 3 - 7 triệu';
                    }
                    else if (valCheck == 5) {
                        txt = 'Từ 7 - 10 triệu';
                    }
                    else if (valCheck == 6) {
                        txt = 'Từ 10 - 15 triệu';
                    }
                    else if (valCheck == 7) {
                        txt = 'Trên 15 triệu';
                    }

                    $("#selectPrice").val(valCheck);
                    $("#selectTxtPrice").val(txt);

                    GenericChooseFilter();
                }
            }
        });
    });

    $("#btnSeachCategory").click(function () {
        var valSelected = '';
        $('#popupHang').find('input[name^="hang-"]').each(function () {
            if ($(this).is(':checked')) {
                valSelected += $(this).val() + ',';
            }
        });
        $("#popupHang").css("display", "none");
        $("#selectSP").val(valSelected);
        GenericChooseFilter();
    });

    function GenericChooseFilter() {
        var textHtml = '';
        var showAll = 0;

        var selectedSP = $("#selectSP").val();
        if (selectedSP != '' && selectedSP != 'undefined' && selectedSP != null) {
            var arraySP = selectedSP.split(',');
            for (var i = 0; i < arraySP.length - 1; i++) {
                showAll++;
                var tensp = $('#popupHang').find('input[name="hang-' + arraySP[i] + '"]').attr("default");

                var id = 'abc' + arraySP[i];
                textHtml += "<a href='javascript:;' id='" + id + "' onclick='RemoveFilter(" + arraySP[i] + ")' class='choose-filter'>";
                textHtml += tensp;
                textHtml += "<span> X</span></a>";
            }
        }

        var valPrice = $("#selectPrice").val();
        if (valPrice != 1 && valPrice > 1) {
            showAll++;
            var txt = $("#selectTxtPrice").val();

            var id = 'abc' + valPrice;
            var textHtml2 = "<a href='javascript:;' id='" + id + "' onclick='RemoveFilter(" + valPrice + ")' class='choose-filter'>";
            textHtml2 += txt;
            textHtml2 += "<span> X</span></a>";
            textHtml += textHtml2;
        }

        if (textHtml.length > 0) {
            if (showAll >= 2) {
                textHtml += "<a href='/dien-thoai' class='choose-filter-2'> Xóa tất cả <span> X</span></a>";
            }
            $(".choosedfilter").html(textHtml);
        }
    }

    function showOrHideGia() {

        if ($('#popupGia').hasClass("showGia")) {
            $("#popupGia").removeClass("showGia");
            $("#popupGia").css("display", "none");
        }
        else {
            $("#popupGia").addClass("showGia");
            $('#popupGia').css("display", "inline-block");
        }
    }

    function showOrHide() {

        if ($('#popupHang').hasClass("showSP")) {
            $("#popupHang").removeClass("showSP");
            $("#popupHang").css("display", "none");
        }
        else {
            $("#popupHang").addClass("showSP");
            $('#popupHang').css("display", "inline-block");
        }
    }

    function showOrHideOrderBy() {
        if ($('#popupOrderBy').hasClass("showOrderBy")) {
            $("#popupOrderBy").removeClass("showOrderBy");
            $("#popupOrderBy").css("display", "none");
        }
        else {
            $("#popupOrderBy").addClass("showOrderBy");
            $('#popupOrderBy').css("display", "inline-block");
        }
    }

    function RemoveFilter(val) {
        $("#abc" + val).remove();
    }

</script>


